html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.container_first {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url(./img/yama.jpg);
    background-size: cover;
    top: 0;
}

.container_first h2 {
    padding-top: 200px;
    margin-bottom: 0px;
}

.container_first p {
    margin-top: 0px;
}

.first_img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    background-color: whitesmoke;
}

.allow_first {
    width: 60px;
    height: 60px;
    padding-top: 100px;
    margin-bottom: 80px;
}

.container_second {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url(./img/second_wrapper.jpg);
    background-position: 400px;
    background-size: cover;
    top: 0;
}

.container_second h2 {
    font-size: 40px;
    color: black;
    padding-top: 300px;
    margin-top: 0px;
}

.container_second h1 {
    color: black;

}

.twitter_icon {
    height: 50px;
    width: 50px;
}

.github_icon {
    height: 50px;
    width: 50px;
}

.slack_icon {
    height: 50px;
    width: 50px;
}

.sns_img {
    margin-bottom: 250px;
}

@media screen and (max-width:1024px){

    .css {
        margin-left: 30px;
    }
    
    .php {
        margin-top: 100px;
        margin-left: 240px;
    }

    .c {
        margin-top: 100px;
        margin-left: 30px;
    }

    .container_third h2 {
        margin-bottom: 40px;
    }

    .m_third {
        margin-left: 240px;
        margin-top: 100px;
    }

    .m_fourth {
        margin-top: 100px;
    }

    .footer_font{
        margin-top: 100px;
    }
}


.container_third {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    top: 0;
}

.container_third h1 {
    font-size: 30px;
    margin-top: 0px;
    padding-top: 200px;
    margin-bottom: 40px;
    color: #555555;
}

.skill_set {
    margin-bottom: 250px;  
}

.skill {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    float: left;
    margin-right: 90px;
    list-style: none;
}

.html {
    margin-left: 240px;
}

.skill img{
    padding: 25px;
    width: 150px;
    height: 150px;   
}

.skill p {
    font-size: 20px;
    color: #555555;
    font-weight: 700;   
}

.container_fourth {
    margin-top: 400px;
    text-align: center;
}


.container_fourth h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #555555;
}

.shokai {
    width: 300px;
    padding-bottom: 100px;
}

.shokai p {
    padding-right: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

.member {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    float: left;
    margin-right: 90px;
    list-style: none;
}

.shokai img {
    padding-bottom: 10px;
    border-radius: 50%;
    margin-right: 150px;
    width: 160px;
    height: 160px;
}

.m_first {
    margin-left: 230px;
}

.tanto {
    color: #555555;
}

.name {
    font-weight: 700;
    padding-bottom: 100px;
}

footer {
    margin-top: 550px;
    text-align: center;
    color: #555555;
}